In [2]:
import pandas as pd

data = pd.read_csv('新冠感染全球病例和死亡人数统计.csv')
data.head()
data['Cases'].sum()

4630386

In [17]:
data2 = pd.read_csv('各国累计康复数据.csv')
data2.columns = ['CountryOrRegion', 'Recovered']
data2.head()

  CountryOrRegion  Recovered
0     Afghanistan        8.0
1         Albania        6.0
2         Algeria      302.0
3         Andorra       11.0
4          Angola        0.0

In [18]:
# 以data国家为索引，将两个数据表合并
data = data.set_index('CountryOrRegion')
data2 = data2.set_index('CountryOrRegion')
data = data.join(data2)
data.fillna(-1, inplace=True)
data.to_csv('各国新冠疫情数据.csv', index=True, encoding='utf-8', sep=',')

In [20]:
data[data['Recovered'] == -1]

,Cases,Cases100K,Deaths,CaseFatality,Deaths/100K,Recovered
CountryOrRegion,,,,,,
United States,1467820,449,88754,6.00%,27.13,-1.0
Tajikistan,1322,15,36,2.70%,0.40,-1.0
Guinea-Bissau,969,51,4,0.40%,0.21,-1.0
Mali,835,4,48,5.70%,0.25,-1.0
Diamond Princess,712,0,13,1.80%,0.00,-1.0
Sierra Leone,462,6,29,6.30%,0.38,-1.0
South Sudan,236,2,4,1.70%,0.04,-1.0
Sao Tome and Principe,235,111,7,3.00%,3.32,-1.0
Burma,182,0,6,3.30%,0.00,-1.0
Yemen,122,0,18,14.80%,0.00,-1.0
Bahamas,96,0,11,11.50%,0.00,-1.0
Malawi,65,0,3,4.60%,0.02,-1.0
Libya,65,1,3,4.60%,0.04,-1.0

In [21]:
import pandas as pd

data = pd.read_csv('疫苗接种.csv')
data.head()

  国家/地区名称 至少接种1剂的人口百分比        给药剂量  至少接种一剂疫苗的人
0      中国       92.81%  3491077000  1310292000
1      印度       74.44%  2206407392  1027379945
2      美国       81.81%   672076105   269554116
3   印度尼西亚       74.45%   444303130   203657535
4      巴西       89.10%   502262440   189395212

In [31]:
x = data['至少接种一剂疫苗的人']
y = data['至少接种1剂的人口百分比']
y.replace('%', '', inplace=True, regex=True)
y = y.astype(float)
y /= 100
z = x / y
res = x.sum() / z.sum() * 100
res

71.92145906294705